<h3>Aync examples with RxJS: subscribe, observables, promises</h3>

<h4>Persons</h4>
<p>
  Fetch several persons with one service-call that (in turn) results in multiple
  API calls. <br />
  The multiple responses are synchronized and returned in one fork-join result from our
  internal app-global-service:
</p>
<b>Get all persons with Observable forJoin</b>
<div *ngFor="let person of persons">
  Name: {{ person.name }}, age: {{ person.age }}
</div>
<br>
<b>Get all persons with Promise.all</b>
<div *ngFor="let person of personsWithPromise">
  Name: {{ person.name }}, age: {{ person.age }}
</div>
<br>
<b>Get all persons with Observable, transform each (capitalize name and add + 5 to age), then forkJoin</b>
<div *ngFor="let person of personsTransformed">
  Name: {{ person.name }}, age: {{ person.age }}
</div>
