.person {
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  min-width: 150px;
}

.bg-normal {
  background-color: rgb(233, 240, 188);
}

.team1-border{
  border-color: red;
  border-width: 3px;
  border-style: solid;
}

.team2-border{
  border-color: rgba(30, 0, 255, 0.81);
  border-width: 3px;
  border-style: solid;
}

.bg-dead {
  background-color: rgb(150, 8, 15);
}

.bg-poisoned {
  background-color: rgb(114, 213, 150);
}

p{
  margin: 0;
}
