<h3>Flex rows</h3>

<div class="container">
  <h3>Wrap</h3>
  <div class="flex-row">
    <div class="flex-col-100 magenta">I'm a 100% flex row</div>
    <div class="flex-col-30 yellow">I'm a 30% flex row with 2% margins</div>
    <div class="flex-col-30 red">I'm a 30% flex row with 2% margins</div>
    <div class="flex-col-30 blue">I'm a 30% flex row with 2% margins</div>
  </div>
</div>
<hr />
<br />
<div class="container">
  <h3>No-Wrap, 1.5rem margins</h3>

  <div class="flex-row-wrap">
    <div class="flex-col-100 magenta">I'm a 100% flex row</div>
  </div>

  <div class="flex-row-wrap">
    <div class="flex-col-25 yellow">25% flex col</div>
    <div class="flex-col-25 red">25% flex col</div>
    <div class="flex-col-25 blue">25% flex col</div>
    <div class="flex-col-25 cyan">25% flex col</div>
  </div>

  <div class="flex-row-wrap">
    <div class="flex-col-33 yellow">I'm a 33% flex col</div>
    <div class="flex-col-33 red">I'm a 33% flex col</div>
    <div class="flex-col-33 blue">I'm a 33% flex col</div>
  </div>

  <div class="flex-row-wrap">
    <div class="flex-col-50 yellow">I'm a 50% flex col</div>
    <div class="flex-col-50 red">I'm a 50% flex col</div>
  </div>

</div>
