<div class="page">
  <h1>Christian's Angular 11 Examples App</h1>

  <p>New components and experiments will be tested here.</p>
  <hr />

  <nav>
    <ul>
      <li><a routerLink="/basic-examples" routerLinkActive="active">Basic Examples</a></li>
      <li><a routerLink="/pet-store" routerLinkActive="active">Pet Store</a></li>
      <li><a routerLink="/flex" routerLinkActive="active">Flexbox tests</a></li>
      <li><a routerLink="/responsive" routerLinkActive="active">Responsive sizing</a></li>
      <li><a routerLink="/async" routerLinkActive="active">Async Tests</a></li>
      <li><a routerLink="/subject" routerLinkActive="active">Test RxJS Subject</a></li>
      <li><a routerLink="/calendar" routerLinkActive="active">Material Calendar</a></li>
      <li><a routerLink="/dragdrop" routerLinkActive="active">Drag-n-Drop</a></li>
    </ul>
  </nav>

  <em>Below is the router outlet:</em>
  <hr />

  <router-outlet></router-outlet>

  <hr />

</div>
