<h1>Testing Input verification with Pattern and Directive</h1>


<h4>Accept only numbers</h4>
<input type="number">

<h4>Pattern regexp, accepts only special pattern, Swedish car reg numbers: "abc 123" or "ABC 123" </h4>
<input [formControl]="carRegNr" type="text" [pattern]="carRegNrPattern">

<div *ngIf="carRegNr.errors?.pattern">
    Car registration number is not valid.
</div>

<h4>Two digit number directive (note: not working properly yet...)</h4>
<input class="docs-form-control" type="number" appTwoDigitDecimaNumber />