.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.hero-box {
  background-color: rgb(213, 224, 238);
  padding: 20px;
}

.button-bar{
  margin-bottom: 20px;
}

button{
  margin-right: 20px;
}

.game-client{
  background-color: rgb(206, 201, 206);
  width: 900px;
  padding: 10px;
}
